body {
	background: #1c1e20;
	background: -moz-radial-gradient(bottom center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: -webkit-gradient(radial, ctop center, 0px, center center, 100%, color-stop(0%, #B5E1F1), color-stop(100%, #36667E));
	background: -webkit-radial-gradient(bottom center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: -o-radial-gradient(bottom center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: -ms-radial-gradient(bottom center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: radial-gradient(bottom center, circle cover, #B5E1F1 0%, #36667E 100%);
	background-color: #36667E;
}

a {
	cursor: pointer;
}

.slides {
	width: 1024px!important;
}

.reveal section img {
	border: none!important;
	background: none!important;
	box-shadow: none!important;
}

.logo {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 432px;
	height: 27px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.reveal h1 ,
.reveal h2 {
	position: relative;
}

.reveal h1:before ,
.reveal h2:before {
	position: absolute;
	display: block;
	content: ' ';

	left: -30px;

	top: -5%;
	bottom: -5%;

	width: 5px;

	background: #7FB060;
}

.reveal h1,
.reveal h2 {
	color: #FFF;
	text-shadow: none;
}

.reveal a:not(.image) {
	color: #71e9f4;
}


.reveal a:not(.image):hover {
	opacity: 0.9;
}

.highlight-code {
	color: #ECEEB5;
	font-weight: bold!important;
}

.highlight-word {
	color: #FFDEAD;
}

.red {
	color: #E16A5C;
}
.green {
	color: #7FB060;
}

section {
	text-align: left;
}



.start-preparing,
.start-loading,
.start-finishing {
	display: block;
	margin: 0 auto!important;
	position: relative;
	height: 453px;
	background: url(../img/lifecycle/start.png) no-repeat;
}

.start-preparing {
	width: 1191px;
}

.start-loading {
	background-position-x: -1193px;
	width: 1018px;
}

.start-finishing {
	background-position-x: -2211px;
	width: 970px;
}

.start-loading:before,
.start-finishing:before,
.start-preparing:after,
.start-loading:after {
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	background: url(../img/lifecycle/start.png) no-repeat;
	opacity: 0.3;
}

.start-preparing:after {
	background-position-x: -1191px;
	width: 1018px;
	right: -1018px;
}

.start-loading:before {
	background-position-x: 0;
	width: 1191px;
	left: -1191px;
}

.start-loading:after {
	background-position-x: -2211px;
	width: 970px;
	right: -970px;
}

.start-finishing:before {
	background-position-x: -1193px;
	width: 1018px;
	left: -1018px;
}

.control-container {
	overflow: hidden;
}

.left-side {
	float: left;
	width: 40%;
	box-sizing: border-box;
	padding-right: 5%!important;
}

.right-side {
	float: right;
	width: 60%;
	box-sizing: border-box;
}

.buttons {
	margin-bottom: 10px!important;
}

.btn {
	display: inline-block;
	padding: 12px 15px 10px;
	font-size: 20px;
	line-height: 1em;
	min-height: 39px;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #86b73d;
	border: none;
	color: #fff;
	text-transform: uppercase;
}

.icon-mobile {
	display: inline-block;
	background: url(../img/icon-mobile.png) no-repeat;
	background-size: contain;
	width: 9px;
	height: 20px;
	margin-left: 5px!important;
}

.icon-tablet {
	display: inline-block;
	background: url(../img/icon-tablet.png) no-repeat;
	background-size: contain;
	width: 14px;
	height: 20px;
	margin-left: 5px!important;
}

.icon-desktop {
	display: inline-block;
	background: url(../img/icon-desktop.png) no-repeat;
	background-size: contain;
	width: 25px;
	height: 20px;
	margin-left: 0px!important;
}


.reveal iframe {
	max-width: 100%!important;
	max-height: 100%!important;
	overflow: hidden;
}

.mobile {
	width: 379px;
	height: 742px;
	background-image: url(../img/iPhone4s_White.png);
	background-repeat: no-repeat;
	position: relative;

	transform: scale(0.68);
	-moz-transform: scale(0.68);
	-webkit-transform:scale(0.68);
	-o-transform: scale(0.68);
	-ms-transform: scale(0.68);

	transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}

.mobile .iframe-wrapper {
	position: absolute;
	top: 132px;
	left: 32px;
	height: 480px;
	width: 320px;
	background: #FFF;
}

.tablet {
	height: 968px;
	width: 1255px;
	background-image: url(../img/iPad_White.png);
	background-repeat: no-repeat;
	position: relative;

	transform: scale(0.48);
	-moz-transform: scale(0.48);
	-webkit-transform:scale(0.48);
	-o-transform: scale(0.48);
	-ms-transform: scale(0.48);

	transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}

.tablet .iframe-wrapper {
	position: absolute;
	left: 116px;
	top: 99px;
	width: 1024px;
	height: 768px;
	background: #FFF;
}

.desktop {
	height: 1268px;
	width: 1606px;
	background-image: url(../img/desktop.png);
	background-repeat: no-repeat;
	position: relative;

	transform: scale(0.38);
	-moz-transform: scale(0.38);
	-webkit-transform:scale(0.38);
	-o-transform: scale(0.38);
	-ms-transform: scale(0.38);

	transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}

.desktop .iframe-wrapper {
	position: absolute;
	left: 87px;
	top: 73px;
	width: 1432px;
	height: 800px;
	background: #FFF;
}