body {
	background: #1c1e20;
	background: -moz-radial-gradient(center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #B5E1F1), color-stop(100%, #36667E));
	background: -webkit-radial-gradient(center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: -o-radial-gradient(center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: -ms-radial-gradient(center, circle cover, #B5E1F1 0%, #36667E 100%);
	background: radial-gradient(center, circle cover, #B5E1F1 0%, #36667E 100%);
	background-color: #36667E;
}

.logo {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 432px;
	height: 27px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.reveal h1 ,
.reveal h2 {
	position: relative;
}

.reveal h1:before ,
.reveal h2:before {
	position: absolute;
	display: block;
	content: ' ';

	left: -30px;

	top: -5%;
	bottom: -5%;

	width: 5px;

	background: #7FB060;
}

.reveal h1,
.reveal h2 {
	color: #FFF;
	text-shadow: none;
}

.reveal a:not(.image) {
	color: #71e9f4;
}


.reveal a:not(.image):hover {
	opacity: 0.9;
}

.highlight-code {
	color: #efef8f;
}

.highlight-word {
	color: #FFDEAD;
}

.red {
	color: #ff2c2d;
}
.green {
	color: #17ff2e;
}

section {
	text-align: left;
}

.control-container {
	overflow: hidden;
}

.left-side {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-right: 5%!important;
}

.right-side {
	float: right;
	width: 50%;
	box-sizing: border-box;
	padding-right: 5%!important;
}

.iphone {
	width: 379px;
	height: 743px;
	background-image: url(../img/iPhone4s_White.png);
	position: relative;

	transform: scale(0.7);
	-moz-transform: scale(0.7);
	-webkit-transform:scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);

	transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}

.iphone .iframe-wrapper {
	position: absolute;
	top: 132px;
	left: 32px;
	height: 480px;
	width: 320px;
	background: #FFF;
}

.iphone iframe {
	max-width: 100%!important;
	max-height: 100%!important;
}